@model DojoSurveywVal.Models.User;
<h1>Success</h1>
<Table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Location</td>
            <td>Language</td>
            <td>Comment</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Location</td>
            <td>@Model.Language</td>
            <td>@Model.Comment</td>
        </tr>
    </tbody>
</Table>