@model ViewModel;

<div class="me has-background-dark container body-content" style="padding-top: 50px; padding-bottom: 20px;">
<div class="has-text-centered">
    <h1 class="has-text-light" style="font-size: 200%;">PROGRESS</h1>
</div>
<div style="margin-bottom: 40px;">
    <progress class="progress is-success" style="width: 600px; margin-left: 360px; margin-bottom: 5px;" value="35" max="100">35%</progress>
        <div class="has-text-light is-inline-block" style="margin-left: 325px;">Account Setup</div>
        <div class="has-text-light is-inline-block" style="margin-left: 80px;">Personal Details</div>
        <div class="has-text-light is-inline-block" style="margin-left: 80px;">Physical Statistics</div>
        <div class="has-text-light is-inline-block" style="margin-left: 80px;">Complete!</div>
</div>
<div class="has-text-centered" style="margin-left: 385px;">
    <div class="has-background-light register1 has-text-centered" style="border-radius: 10px;">
        <h3 class="text-dark regheader" style="padding-top: 20px;">PERSONAL DETAILS</h3>
        <p>Part 2</p>
        <form action="/RegisterDetails" style="margin-top: 20px;" method="post">
            <span class="has-text-danger" asp-validation-for="PersonalDetails.FirstName"></span>
            <input type="text" asp-for="PersonalDetails.FirstName" class="input" placeholder="First Name" style="width: 430px; margin-bottom: 30px;  height: 50px;">
            <span class="has-text-danger" asp-validation-for="PersonalDetails.LastName"></span>
            <input type="text" asp-for="PersonalDetails.LastName" class="input" placeholder="Last Name" style="width: 430px; margin-bottom: 30px;  height: 50px;">
            <span class="has-text-danger" asp-validation-for="PersonalDetails.Gym"></span>
            <input type="text" asp-for="PersonalDetails.Gym" class="input" placeholder="Gym Name" style="width: 430px; margin-bottom: 30px;  height: 50px;">
            <span class="has-text-danger" asp-validation-for="PersonalDetails.City"></span>
            <input type="text" asp-for="PersonalDetails.City" class="input" placeholder="City Name" style="width: 350px; height: 50px;">
            <select asp-for="PersonalDetails.State" class="input" style="width: 75px; height: 50px;">
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
            <BR>
            <input type="hidden" name="PersonalDetails.UserId" value="@Model.User.UserId">
            <div class="is-inline-block" style="margin-top: 140px; height: 100px; padding-top: 15px;">
                    <a href="/" class="button" style="background-color: #007bff;">Back</a>
            </div>
            <div class="is-inline-block" style="padding-top: 0px;">
                <input type="submit" value="Next" class="button is-inline-block" style="margin-top: 0px; margin-left: 100px;">
            </div>
        </form>
    </div>
</div>
</div>