<div class="me has-background-dark container body-content" style="padding-top: 50px; padding-bottom: 20px;">
<div class="has-text-centered">
    <h1 class="has-text-light" style="font-size: 200%;">PROGRESS</h1>
</div>
<div style="margin-bottom: 40px;">
    <progress class="progress is-success" style="width: 600px; margin-left: 360px; margin-bottom: 5px;" value="3" max="100">3%</progress>
        <div class="has-text-light is-inline-block" style="margin-left: 325px;">Account Setup</div>
        <div class="has-text-light is-inline-block" style="margin-left: 80px;">Personal Details</div>
        <div class="has-text-light is-inline-block" style="margin-left: 80px;">Physical Statistics</div>
        <div class="has-text-light is-inline-block" style="margin-left: 80px;">Complete!</div>
</div>
<div class="has-text-centered" style="margin-left: 385px;">
    <div class="has-background-light register1 has-text-centered" style="border-radius: 10px;">
        <h3 class="text-dark regheader" style="padding-top: 20px;">CREATE YOUR ACCOUNT</h3>
        <p>Part 1</p>
        <form action="/registeruser" style="margin-top: 20px;">
            <input type="email" name="Email" class="input" placeholder="Email Address" style="width: 430px; margin-bottom: 30px;  height: 50px;">
            <input type="password" name="Password" class="input" placeholder="Password" style="width: 430px; margin-bottom: 30px;  height: 50px;">
            <input type="password" name="Confirm Password" class="input" placeholder="Confirm Password" style="width: 430px; height: 50px;">
            <BR>
            <div class="is-inline-block" style="margin-top: 220px; height: 100px; padding-top: 15px;">
                    <span style="margin-top: 5px;">Already have an account? <a href="/login">Click Here</a>.</span>
            </div>
            <div class="is-inline-block" style="padding-top: 0px;">
                <input type="submit" value="Next" class="button is-inline-block" style="margin-top: 0px; margin-left: 100px;">
            </div>
        </form>
    </div>
</div>
</div>