<div class="is-inline-block has-text-centered" style="background: white; width: 49.5vw; height: 100vh;">
    <div style="margin-top: 150px;">
        <img src="~/images/download.png" alt="Logo" style="width: 100px;">
        <h1 class="title is-inline-block spotter" style="font-size: 525%;">Spotter</h1>
    </div>
    <div>
        <h2 style="margin-top: 50px; font-size: 300%;">Welcome Back,</h2>
        <form action="/loggingin" class="has-text-centered" style="margin-top: 20px;">
            <div class="is-block">
                <input type="text" name="Email" placeholder="Email Address" class="logininput is-inline-block">
            </div>
            <div class="is-block">
                <input type="text" name="Password" placeholder="Password" class="logininput is-inline-block">
            </div>
            <input type="submit" class="button" value="Log In" style="margin-top: 20px; background-color: #00b3b3;">
        </form>
    </div>
</div>
<div class="is-inline-block has-text-centered" style="background-image: linear-gradient(#343a40, dimgray, gray); width: 49.5vw; height: 100vh; position: absolute;">
    <h1 class="has-text-light newhere" style="font-size: 500%; margin-top: 230px;">New Here?</h1>
    <p class="has-text-light" style="font-size: 200%; margin-bottom: 40px;">Click here to sign up and find your new workout partner!</p>
    <a href="/" class="signupbutton">Sign Up!</a>
</div>