@model User
<div class="container col-10 offset-1">
    <h1 class="border-bottom">Enter Your Information</h1>
    <form class="mt-4" asp-action="Create" asp-controller="Home" method="post">
        <div class="form-row mb-3">
            <div class="col">
                <span asp-validation-for="FirstName"></span>
                <input type="text" asp-for="FirstName" class="form-control form-control-lg" placeholder="First name">
            </div>
            <div class="col">
                <span asp-validation-for="LastName"></span>
                <input type="text" asp-for="LastName" class="form-control form-control-lg" placeholder="Last name">
            </div>
        </div>
        <div class="col-2 mb-3 p-0">
            <span asp-validation-for="Age"></span>
            <input type="number" asp-for="Age" class="form-control form-control-lg" placeholder="Age">
        </div>
        <div class="col-6 mb-3 p-0">
            <span asp-validation-for="Email"></span>
            <input type="text" asp-for="Email" class="form-control form-control-lg" placeholder="Email Address">
        </div>
        <div class="col-6 mb-3 p-0">
            <span asp-validation-for="Password"></span>
            <input type="text" asp-for="Password" class="form-control form-control-lg" placeholder="Password">
        </div>
        <input class="btn btn-lg btn-outline-primary" type="submit" value="Submit">
    </form>
</div>