@model User

<div class="container col-10 offset-1">
    <h1 class="border-bottom">Your Information</h1>
    <h3 class="mt-4 mb-3">First Name: @Model.FirstName</h3>
    <h3 class="mb-3">Last Name: @Model.LastName</h3>
    <h3 class="mb-3">Age: @Model.Age</h3>
    <h3 class="mb-3">Email: @Model.Email</h3>
</div>