<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .tablebox{
            width: 65%;
        }
        div.tablebox h1{
            margin-top: 20px;
        }
        .spacerbox{
            height: 50px;
        }
        a{
            text-decoration-line: underline;
        }
    </style>
    <title>Read (All) Users</title>
</head>
<body>
    <div class="container-fluid tablebox">
        <div class="header">
            <h1>All Users</h1>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created on</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                    <tr>
                        <td>{{ user['id'] }}</td>
                        <td>{{ user['full_name'] }}</td>
                        <td>{{ user['email'] }}</td>
                        <td>{{ user['created_at'] }}</td>
                        <td class="actions">
                            <a href="/users/{{ user['id'] }}">View | </a>
                            <a href="/users/{{ user['id'] }}/edit">Edit | </a>
                            <a href="/delete_user/{{ user['id'] }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="spacerbox"></div>
        <hr>
        <a href="/users/new">Add a New User</a>
    </div>
</body>
</html>