<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Quoting Dojo</title>
</head>

<body class="grey lighten-5">
    <div class="header center-align">
        <h1 class="center-align">Quoting Dojo</h1>
    </div>
    <div class="white">
        <hr>
        <div class="row">
                <a href="/quotes" class="btn col s2 offset-s9">Quotes</a>
            </div>
        <br>
        <div class="container row">
            <form action="/quotes" method="post">
                <div class="row input-field">
                    <input type="text" class="col s6 offset-s3" id="name" name="name">
                    <label class="col offset-s3" for="name">Name</label>
                </div>
                <div class="row input-field">
                    <input type="text" class="col s6 offset-s3" id="quote" name="quote">
                    <label class="col offset-s3" for="quote">Quote</label>
                </div>
                <div class="row">
                    <% if(messages.submission) { %>
                        <% for (var x of messages.submission) { %>
                            <h6 class="red-text col s9 offset-s3"><%= x %></h6>
                        <% } %>
                    <% } %>
                    <input class="btn col offset-s3" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>